:root {
    --primary: #2C394B;
    --secondary: #334756ad;
    --accent: #FF4C29;
    --line: #48505e;
    --background: #082032;
    --text: #f7f7f7;
    --overlay: rgb(8, 32, 50, 0.7);
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-style: normal;
    color: var(--text);
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('/src/assets/backgrounds/grids.png');
}

body::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: var(--text);
}

a:hover { color: var(--accent); }

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title { 
    width: 100%;
    text-align: center;
    z-index: 2;
}

.container-title h1 {
    font-size: 5em;
    line-height: 1.1;
    margin-bottom: 40px;
    color: var(--accent);
}

.container-title h1 span.emphasize {
    color: transparent !important;
    -webkit-text-stroke: 1px var(--text);
}

.container-title p { margin: 0; }

.features-container, ul.features {
    padding: 20px;
    z-index: 2;
}

ul.features li.item {
    display: inline-block;
    margin: 20px;
}

.card {
    background-color: var(--primary);
    width: 350px;
    border-bottom: 4px solid var(--accent);
    border-radius: 20px;
    color: var(--text);
    box-shadow: rgba(4, 18, 28, 0.35) 0px 5px 15px;
    transition: all .5s ease;
}

.card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: rgba(4, 18, 28, 0.15) 0px 18px 25px 0px;
    transition: all .4s ease;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 40px 0;
}

.card .card-content {
    padding: 20px;
    border-top: 1px solid var(--line);
}

.card .card-title {
    font-size: 24px;
    font-weight: 500;
}

/*Footer*/
footer { 
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(8,32,50,0.5) 0%, rgba(8,32,50,1) 20%);
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}

.footer-nav .item {
    display: inline-block;
    margin: 10px 20px;
    padding: 5px;
}

hr { 
    width: 50%;
    border-width: 0;
    border-top: 1px solid var(--primary);
}

.footer-text { 
    width: 100%;
    opacity: 0.4;
    text-align: center;
    font-size: 12px;
    margin: 20px 0;
}